
.floating-button-container {
  margin-top: -10px;

}

.floating-back-button {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.floating-back-button:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}
