<div class="hcontainer">
  <mat-form-field appearance="outline">
    <mat-label>Filtre</mat-label>
    <input
      #input
      (keyup)="applyFilter($event)"
      matInput
      placeholder="Ex. ium"
    />
  </mat-form-field>
  @if (isAdmin) {
    <button
      (click)="openDialog()"
      aria-label="Ajouter une playlist"
      color="primary"
      mat-flat-button
    >
      <mat-icon>add</mat-icon>
      Ajouter
    </button
    >
  }
</div>

<table [dataSource]="dataSource" class="mat-elevation-z8" mat-table matSort>
  <!-- Position Column -->
  <ng-container matColumnDef="songNumber">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Laharan-kira</th>
    <td *matCellDef="let element" mat-cell>
      {{ element.songNumber }}{{ element.suffix ? ' ' + element.suffix : '' }}
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell style="font-weight: bold">
      Playlist
    </th>
    <td *matCellDef="let element" mat-cell>{{ element.name }}</td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <th *matHeaderCellDef mat-header-cell></th>
    <td *matCellDef="let element" mat-cell>
      @if (isAdmin) {
        <button
          (click)="editPlaylistDialog(element)"
          aria-label="Editer"
          mat-icon-button
        >
          <mat-icon>edit</mat-icon>
        </button>

        <button
          (click)="deletePlaylist(element); $event.stopPropagation()"
          aria-label="Supprimer"
          color="warn"
          mat-icon-button
        >
          <mat-icon>close</mat-icon>
        </button
        >
      }
    </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr
    (click)="openPlaylist(row)"
    *matRowDef="let row; columns: displayedColumns;"
    mat-row
  ></tr>

  <!-- Row shown when there is no matching data. -->
  <tr *matNoDataRow class="mat-row">
    <td class="mat-cell" colspan="4">
      Aucun donnée trouvée pour cette filtre: "{{ input.value }}"
    </td>
  </tr>
</table>
<mat-paginator
  [pageSizeOptions]="[5, 10, 25, 100]"
  aria-label="Sélecteur de page"
></mat-paginator>
