.bg-primary {
  background-color: #016852 !important;
  color: white;
}

.bg-playlist-primary {
  background-color: #855722 !important;
  color: white;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-icon {
  color: white;
}

.navbar-brand {
  cursor: pointer;
  color: white !important;
  font-size: 24px;
}

.app-logo {
  height: 40px;
  margin-right: 10px;
}

.app-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000; /* ensures it stays above other content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* optional shadow */
}

.spacer {
  flex: 1 1 auto;
}

.menu-icon {
  color: lightgray;
}
