<mat-form-field appearance="outline" class="w-full mb-4">
  <mat-label>Rechercher</mat-label>
  <input #input (keyup)="applyFilter($event)" matInput placeholder=""/>
</mat-form-field>

<div *ngIf="isLoading" class="loading-container">
  <mat-spinner></mat-spinner>
</div>

<table
  [dataSource]="dataSource"
  [style.display]="isLoading ? 'none' : ''"
  class="mat-elevation-z8"
  mat-table
  matSort
>
  <!-- Position Column -->
  <ng-container matColumnDef="songNumber">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Laharan-kira</th>
    <td *matCellDef="let element" mat-cell>
      {{ element.songNumber }}{{ element.suffix ? ' ' + element.suffix : '' }}
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="title">
    <th *matHeaderCellDef mat-header-cell>Titre</th>
    <td *matCellDef="let element" mat-cell>{{ element.title }}</td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr
    (click)="openDetail(row)"
    *matRowDef="let row; columns: displayedColumns;"
    mat-row
  ></tr>

  <!-- Row shown when there is no matching data. -->
  <tr *matNoDataRow class="mat-row">
    <td class="mat-cell" colspan="4">
      Aucun donnée trouvée pour cette filtre: "{{ input.value }}"
    </td>
  </tr>
</table>

<mat-paginator
  [pageSizeOptions]="pageSizeOptions"
  [style.display]="isLoading ? 'none' : ''"
></mat-paginator>
