<mat-card class="edit-lyric-card">
  <h2 class="edit-lyric-title">
    {{ id !== 'new' ? 'Manova tononkira' : 'Hanampy tononkira' }}
  </h2>

  <form (ngSubmit)="save()" [formGroup]="form" class="edit-lyric-form">
    <!-- Main Song Fields -->
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-select>
          <mat-option value="principal">Fihirana</mat-option>
          <mat-option value="extra">Hira hafa</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Laharan-kira</mat-label>
        <input formControlName="songNumber" matInput required type="number"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Suffixe (optionnel)</mat-label>
        <input formControlName="suffix" matInput type="text"/>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Clé</mat-label>
        <input formControlName="key" matInput/>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Titre</mat-label>
        <input formControlName="title" matInput required/>
      </mat-form-field>
    </div>

    <!-- Section Editor -->
    <div class="section-container">
      <h3 class="section-header">Sections</h3>

      <div
        (cdkDropListDropped)="drop($any($event))"
        cdkDropList
        class="sections-drop-list"
        formArrayName="sections"
      >
        <div
          *ngFor="let section of (sections$ | async)?.controls; let i = index"
          [formGroupName]="i"
          cdkDrag
          cdkDragPreview
          class="section-item"
        >
          <div cdkDragHandle class="example-handle">
            <svg fill="currentColor" viewBox="0 0 24 24" width="24px">
              <path
                d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
              ></path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
          </div>
          <div class="form-row">
            <mat-form-field appearance="outline">
              <mat-label>Type de section</mat-label>
              <mat-select formControlName="type">
                <mat-option *ngFor="let type of sectionTypes" [value]="type"
                >{{ type }}
                </mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Sous Titre</mat-label>
            <input formControlName="subtitle" matInput/>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Lyrics (one line per row)</mat-label>
            <textarea formControlName="lines" matInput rows="4"></textarea>
          </mat-form-field>

          <div class="text-right">
            <button
              (click)="removeSection(i)"
              [disabled]="(sections$ | async)?.length === 1"
              color="warn"
              mat-stroked-button
              type="button"
            >
              <mat-icon>delete</mat-icon>
              Enlever Section
            </button>
          </div>
        </div>
      </div>

      <button
        (click)="addSection()"
        color="primary"
        mat-flat-button
        type="button"
      >
        <mat-icon>add</mat-icon>
        Ajouter Section
      </button>
    </div>

    <!-- Form Actions -->
    <div class="form-actions">
      <button (click)="goBack()" mat-stroked-button type="button">
        Annuler
      </button>
      <button
        [disabled]="form.invalid"
        color="primary"
        mat-flat-button
        type="submit"
      >
        Enregistrer
      </button>
    </div>
  </form>
</mat-card>
