<mat-card class="lyric-card mat-elevation-z2 mat-typography">
  <mat-card-header class="lyric-header">
    <mat-card-title-group fxLayout="column" fxLayoutAlign="center center">
      <mat-card-subtitle
        class="song-number mat-body-1"
        fxLayout="row"
        fxLayoutAlign="start center"
      >
        <strong>HIRA FAHA {{ lyric.songNumber }}</strong>
      </mat-card-subtitle>

      <mat-card-title class="song-title">{{ lyric.title }}</mat-card-title>
      <mat-card-subtitle>
        @if(lyric.key) {
        <i>Clé: {{ lyric.key }}</i>}
      </mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>

  <mat-card-content>
    @if (lyric.sections.length > 0) {
    <section class="lyric-body">
      @for (section of lyric.sections; track section.subtitle) {
      <div class="lyric-section">
        <mat-divider class="section-divider"></mat-divider>
        <h3 class="section-subtitle mat-subheading-2">
          {{ section.subtitle }}
        </h3>

        <div class="lyric-lines">
          @for (line of section.lines; track $index) {
          <p class="lyric-line mat-body-1">{{ line }}</p>
          }
        </div>
      </div>
      }
    </section>
    } @else {
    <p class="no-lyrics mat-caption">No lyrics available.</p>
    }
  </mat-card-content>
</mat-card>
