.lyric-card {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
}

.lyric-header {
  text-align: start;
  margin-bottom: 1rem;
}

.song-number {
  color: rgba(78, 78, 78, 0.54);
  /* margin-bottom: 0.25rem; */
  text-align: left;
}

.song-title {
  margin: 0;
  font-weight: 500;
  color: #016852 !important;
}

.section-subtitle {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: rgba(113, 113, 113, 0.87);
}

.section-subtitle-chorus {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: rgba(113, 113, 113, 0.87);
  font-style: italic;
}

.section-divider {
  margin: 1.5rem 0 0.75rem;
  border-color: rgba(0, 0, 0, 0.54);
}

.lyric-lines {
  margin: 0.25rem 0;
  line-height: 1.6;
}

.lyric-lines-chorus {
  margin: 0.25rem 0;
  line-height: 1.6;
  font-style: italic;
}

.no-lyrics {
  text-align: center;
  margin-top: 2rem;
  color: rgba(0, 0, 0, 0.5);
}

.mat-caption {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.54);
}
