@import url("theme.css");
@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, sans-serif;
}
.container {
  max-width: 960px;
  margin: 0 auto 24px auto;
  padding: 24px;
  border-radius: 8px;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  gap: 16px;

  .title {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
  }

  .content {
    font-size: 1rem;
    color: #444;
    line-height: 1.6;
  }
}
